[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
got10k = "*"
torchvision = "*"
opencv-python = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.13"
